@import './reset';
@import './variables';

.main-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: $black;
  z-index: 1;
}

.main-header {
  font-size: 24px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 56px;
  height: calc(100% - 56px);
  width: 85%;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 224px;
  min-height: 500px;
  background-color: $black;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #121212;
  margin-right: 48px;
}

h3 {
  font-size: 20px;
}

.canvas-byline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 680px;
  min-height: 500px;
  background-color: $black;
  box-shadow: 4px 4px 12px #121212;
  border-radius: 12px;
  margin-bottom: 12px;
}

.options-size-container,
.options-speed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

h4 {
  font-size: 12px;
  margin-bottom: 8px;
}

select {
  width: 130px;
  height: 28px;
  font-size: 12px;
}

button {
  padding: 8px 16px;
  border-radius: 24px;
  outline: none;
  font-size: 12px;
}

button:hover,
input:hover,
select:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.main-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-footer-container a {
  font-size: 12px;
  margin: 16px;
  text-decoration: none;
}